
<%= form_with model: user do |f| %>
  <div class='form-content'>
    <div class='label-box'>
      <%= f.label :name, 'ユーザー名' %>
      <a class='required-text'>必須</a>
    </div>
    <div class='text-box'>
      <%= f.text_field :name, class: 'text-form' , placeholder: 'ユーザー名を入力' %>
    </div>
  </div>
  <div class='form-content'>
    <div class='label-box'>
      <%= f.label :email, 'メールアドレス' %>
      <a class='required-text'>必須</a>
    </div>
    <div class='text-box'>
      <%= f.text_field :email, class: 'text-form', placeholder: 'メールアドレスを入力' %>
    </div>
  </div>
  <div class='form-content'>
    <div class='label-box'>
      <%= f.label :password, 'パスワード' %>
      <a class='required-text'>必須</a>
    </div>
    <div class='text-box'>
      <%= f.password_field :password, class: 'text-form', placeholder: 'パスワードを入力' %>
    </div>
  </div>
  <div class='form-content'>
    <div class='label-box'>
      <%= f.label :password_digest, 'パスワード（確認）' %>
      <a class='required-text'>必須</a>
    </div>
    <div class='text-box'>
      <%= f.password_field :password_confirmation, class: 'text-form', placeholder: 'パスワード（確認）を入力' %>
    </div>
  </div>
  <div class='form-bottun'>
    <%= f.submit 'アカウント登録', class: 'submit-button' %>
  </div>
<% end %>