<%= stylesheet_link_tag 'users_show' %> 

<div class='main-container'>
  <div class='page-title'>新しいアカウントを作成</div>

      <div>
        <p>ユーザー名</p>
        <%= @user.name %>
      </div>
      <div>
        <p>メールアドレス</p>
        <%= @user.email %>
      </div>
      <div>
        <p>アイコン画像</p>
        <% if @user.image.attached? %>
          <%= image_tag @user.image.variant(resize: '500x100').processed %>
        <% else %>
          <%= image_tag 'user-icon.png' %>
        <% end %>
      </div>
      <div>
        <p>自己紹介</p>
        <%= @user.introduction %>
      </div>

  </div>
<div>