<%= stylesheet_link_tag 'home_index' %>

<div class='main-container'>
  <div class='page-title'>登録済みルーム一覧</div>

  <p><%= @count %>件が見つかりました</p>

  <div class='search-form'>
    <%= search_form_for @q do |f| %>
      <%= f.label :address_cont, "エリア" %>
      <%= f.search_field :address_cont, placeholder: 'エリア' %>
      <%= f.label :room_name_cont, "エリア" %>
      <%= f.search_field :address_cont, placeholder: 'フリーワード' %>
      <%= f.submit "検索" %>
    <% end %>
  </div>

  <div class='content'>
    <% @posts.each do |post| %>
      <div class='card-box'>
        <%= link_to(new_reservation_path(id: post.id)) do%>
          <p><%= image_tag(post.image.variant(resize: 299)) if post.image.attached? %></p>
          <p class='room-name'><%= post.room_name %></p>
          <p class='room-address'><%= post.address %></p>
          <p class='usage-fee'>1人 ¥<%= post.usage_fee %> /日</p>
        <% end %>
      </div>
    <% end %>
  </div>

</div>

