<%= stylesheet_link_tag 'reservations_new' %>

<div class='main-container'>
  <div class='page-title'>この部屋を予約する</div>

    <%= form_with model: @reservation do |f| %>
      <div class='form-content'>
        <div class='label-box'>
          <%= f.label :starg, '開始日' %>
          <a class='required-text'>必須</a>
        </div>
        <div class='text-box'>
          <%= f.date_field :start, class: 'text-form' %>
        </div>
      </div>
      <div class='form-content'>
        <div class='label-box'>
          <%= f.label :end, '終了日' %>
          <a class='required-text'>必須</a>
        </div>
        <div class='text-box'>
          <%= f.date_field :end, class: 'text-form' %>
        </div>
      </div>
      <div class='form-content'>
        <div class='label-box'>
          <%= f.label :number_of_people, '人数' %>
          <a class='required-text'>必須</a>
        </div>
        <div class='text-box'>
          <%= f.text_field :number_of_people, class: 'text-form' %>
        </div>
      </div>
      <div class='form-content'>
        <div class='label-box'>
          <%= f.label :reserver, '予約者' %>
          <a class='required-text'>必須</a>
        </div>
        <div class='text-box'>
          <%= f.text_field :reserver, class: 'text-form' %>
        </div>
      </div>
      <div class='form-bottun'>
        <%= f.submit '予約する', class: 'submit-button' %>
      </div>
    <% end %>

    <div class='login-page'>
      <%= link_to '戻る', :home, class: 'login-page-button' %>
    </div>


  </div>
<div>