<!DOCTYPE html>
<html>
  <head>
    <title>RailsSharingApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://unpkg.com/sanitize.css" rel="stylesheet"/>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class='left-header'>
        <div><%= link_to 'Room Share', posts_path, class: 'app-title' %></div>
      </div>
      <div class='right-header'>
        <% if current_user %>
          <span class='name'><%= current_user.name %></span>
          <% if current_user.image.attached? %>
            <%= image_tag current_user.image, class: 'user-icon' %>
          <% else %>
            <%= image_tag 'user-icon.png', class: 'user-icon' %>
          <% end %>
        <% else %>
          <%= link_to 'ログイン', :login, class: 'login-button' %>
          <%= link_to '登録する', :new_user, class: 'signup-button' %>
        <% end %>
      </div>
    </header>
    <% if current_user %>
      <nav class='navigasion-box'>
        <ul>
            <li><%= link_to 'ルーム登録', new_post_path, class: 'setting-menu' %></li>
            <li><%= link_to '予約済みルーム一覧', reservations_path, class: 'setting-menu' %></li>
            <li><%= link_to '登録済みルーム一覧', 'home', class: 'setting-menu' %></li>
            <li><%= link_to 'アカウント設定', edit_user_path(current_user.id), class: 'setting-menu' %></li>
            <li><%= link_to 'ログアウト', logout_path, method: :delete, class: 'setting-menu' %></li>
        </ul>
      </nav>
    <% end %>

    <%= yield %>

    <footer>
      <div>@ 2022 SEKKEY.INC</div>
    </footer>
    
  </body>
</html>
