<!DOCTYPE html>
<html>
  <head>
    <title>RailsSharingApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://unpkg.com/sanitize.css" rel="stylesheet"/>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class='left-header'>
        <div class='app-title'>Room Share</div>
        <div class='search-text'>エリア</div>
        <div class='search-text'>キーワード</div>
      </div>
      <div class='right-header'>
        <%= link_to 'ログイン', :login, class: 'login-button' %>
        <%= link_to '登録する', :new_user, class: 'signup-button' %>
        <%= link_to '設定', :new_user, class: 'signup-button' %>
      </div>
    </header>

    <%= yield %>

    <footer>
      <div>@ 2022 SEKKEY.INC</div>
    </footer>
  </body>
</html>
